[Desktop Entry]
Exec=dbus-launch dolphin %u
Icon=org.kde.plasma.folder
MimeType=inode/directory;
Name=DolphinSingleInstance
NoDisplay=true
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
